:root {
    --primary-color-text: #a9a9a9;
    --primary-color-headlines: #d5bfdf;
    --primary-color-buttons: #fdfbd2;
    --primary-color-background: #fcf7f7;
    --primary-color-text-dark: #7a7777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(70, 61, 61, 0.63);
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}

.modal h1 {
    color: #851fe4;
}

.modal-content {
    background-color: blanchedalmond;
    margin: 5% auto;
    padding: 5rem;
    width: 600px;
    height: 650px;
    animation: zoom-in 1s ease-in-out forwards;
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 3rem;
    color: #851fe4;
}

.movie-poster-modal {
    width: 300px;
    border-radius: 5%;
}

.form-container {
    width: 75%;
    text-align: center;
    margin: 2rem auto;
}

.form-container form {
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 32px;
}

input {
    width: 30%;
    background-color: var(--primary-color-buttons);
    font-size: 1.2rem;
    height: 34px;
}

.form-container button {
    background-color: var(--primary-color-headlines);
    color: var(--primary-color-background);
    text-transform: none;
    margin-left: 0;
    height: 34px;
    width: 5rem;
    font-size: 1.2rem;
}

.chat-container {
    position: fixed;
    bottom: 0;
    right: 0;
}